@import "../../common_var.scss";
.container{
    // padding-top: 25px;
    background-color:$bg-lightgray;
    text-align: center;
      li{
        list-style:none;
      }
    
        .MuiGrid-spacing-xs-4 {
             width: calc(100% + 0px); 
            margin:0; 
        }
}