ul{
    
    width: 100%;
    .menuleft{
width:70%;
float:left;
display: inline-flex;
    }
    .menuright{
width:30%;
float:right;
text-align: right;
display: inline-flex;
    }
    a{
        text-decoration: none;
    }
}